{% extends 'users/base.html' %}

{% block content %}
    <section class="trending_section layout_padding">
    <div id="accordion">
        <div class="container">
            <div class="row">
                <div class="col-md-6 block-center">
                    <div class="detail-box">
                        <div class="heading_container">
                            {% if user.is_authenticated %}
                            <h1 class="h-cent">Добро пожаловать, {{ user.first_name }}!</h1>
                        {% else %}
                                <h1>Welcome to Home!</h1>
                        {% endif %}
                        </div>

                            {% if user.is_authenticated %}
                        <div class="tab_container">
                            <div class="t-link-box" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                 aria-controls="collapseOne">

                                <div class="number">
                                    <h5>
                                        01
                                    </h5>
                                </div>
                                <hr>
                                <div class="t-name">
                                    <h5>
                                        <a class="a2" href="{% url 'logout' %} ">Logout</a>
                                    </h5>
                                </div>
                            </div>
                            <div class="t-link-box collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                 aria-expanded="false" aria-controls="collapseTwo">
                                <div class="number">
                                    <h5>
                                        02
                                    </h5>
                                </div>
                                <hr>
                                <div class="t-name">
                                    <h5>
                                        <a class="a2" href="{% url 'main-page' %}">Главная cтраница</a>
                                    </h5>
                                </div>
                            </div>
                            <div class="t-link-box collapsed" data-toggle="collapse" data-target="#collapseThree"
                                 aria-expanded="false" aria-controls="collapseThree">
                                <div class="number">
                                    <h5>
                                        03
                                    </h5>
                                </div>
                                <hr>
                                <div class="t-name">
                                    <h5>
                                        <a class="a2" href="{% url 'record-create' %}">Создать заявку</a>
                                    </h5>
                                </div>
                            </div>
                            <div class="t-link-box collapsed" data-toggle="collapse" data-target="#collapseFour"
                                 aria-expanded="false" aria-controls="collapseFour">
                                <div class="number">
                                    <h5>
                                        04
                                    </h5>
                                </div>
                                <hr>
                                <div class="t-name">
                                    <h5>
                                        <a class="a2" href="{% url 'my-records' %}">Мои заявки</a>
                                    </h5>
                                </div>
                            </div>
                            {% if user.is_staff %}
                            <div class="t-link-box collapsed" data-toggle="collapse" data-target="#collapseFour"
                                 aria-expanded="false" aria-controls="collapseFour">
                                <div class="number">
                                    <h5>
                                        05
                                    </h5>
                                </div>
                                <hr>
                                <div class="t-name">
                                    <h5>
                                        <a class="a2" href="{% url 'all-records' %}">Кабинет</a>
                                    </h5>
                                </div>
                            </div>
                            {% endif %}
                             </div>
                            </div>
                        </div>

                            {% else %}
                        <div class="tab_container">
                            <div class="t-link-box" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                 aria-controls="collapseOne">

                                <div class="number">
                                    <h5>
                                        01
                                    </h5>
                                </div>
                                <hr>
                                <div class="t-name">
                                    <h5>
                                        <a class="a1" href="{% url  'signup' %}">Sign Up</a>
                                    </h5>
                                </div>
                            </div>
                            <div class="t-link-box collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                 aria-expanded="false" aria-controls="collapseTwo">
                                <div class="number">
                                    <h5>
                                        02
                                    </h5>
                                </div>
                                <hr>
                                <div class="t-name">
                                    <h5>
                                        <a class="a2" href="{% url 'login' %}">Login</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                            {% endif %}




                <div class="col-md-6">
                    <div class="collapse show" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="img_container ">
                            <div class="box b-1">
                                <div class="img-box">
                                    <img src="static/images/t-1.jpg" alt="">
                                </div>
                                <div class="img-box">
                                    <img src="images/t-2.jpg" alt="">
                                </div>
                            </div>
                            <div class="box b-2">
                                <div class="img-box">
                                    <img src="images/t-3.jpg" alt="">
                                </div>
                                <div class="img-box">
                                    <img src="images/t-4.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="img_container ">
                            <div class="box b-1">
                                <div class="img-box">
                                    <img src="images/t-3.jpg" alt="">
                                </div>
                                <div class="img-box">
                                    <img src="images/t-4.jpg" alt="">
                                </div>
                            </div>
                            <div class="box b-2">

                                <div class="img-box">
                                    <img src="images/t-1.jpg" alt="">
                                </div>
                                <div class="img-box">
                                    <img src="images/t-2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="img_container ">
                            <div class="box b-1">
                                <div class="img-box">
                                    <img src="images/t-4.jpg" alt="">
                                </div>
                                <div class="img-box">
                                    <img src="images/t-1.jpg" alt="">
                                </div>
                            </div>
                            <div class="box b-2">
                                <div class="img-box">
                                    <img src="images/t-3.jpg" alt="">
                                </div>
                                <div class="img-box">
                                    <img src="images/t-2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapse" id="collapseFour" aria-labelledby="headingfour" data-parent="#accordion">
                        <div class="img_container ">
                            <div class="box b-1">
                                <div class="img-box">
                                    <img src="images/t-1.jpg" alt="">
                                </div>

                                <div class="img-box">
                                    <img src="images/t-4.jpg" alt="">
                                </div>
                            </div>
                            <div class="box b-2">
                                <div class="img-box">
                                    <img src="images/t-3.jpg" alt="">
                                </div>
                                <div class="img-box">
                                    <img src="images/t-2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}