{% extends 'users/base.html' %}

{% block content %}

 <div style="">
        <h1>>{{ record.title }}</h1>
        <p>{{record.summary}}</p>
        <img src="{{ record.image.url }}">
     <p>{{ record.created_at }}</p>
     {% if user.is_staff %}
     {% if record.status == 'n' %}
     <a href="{{record.pk}}/update-status">Update status</a>
    </div>
    <a href="{{record.pk}}/delete">Удалить заявку?</a>
{% endif %}
{% else %}
<p>Заявка принята в работу или выполнена.</p>




{% endif %}

{% endblock %}