{% extends 'users/base.html' %}

{% block content %}

    <div class="center">
<h1>Change status</h1>
        {% if user.is_staff %}


            <div style="display: flex; flex-direction: column">

            <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
            {% if record.status == 'n' %}
            {{ form.status }}
            <button type="submit">Загрузить</button>
                {% else %}
        <p>Нельзя сменить статус с «Принято в работу» или «Выполнено»</p>
                {% endif %}
               {{ form.comment }}

                {{ form.add_image }}
                <div><button type="submit" style="">Загрузить</button></div>
</form>




        {% endif %}
    </div>
        </div>


{% endblock content %}